# compiled output
/dist
/node_modules
.env
/dbdata
/uploads
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/dbdata/_mdb_catalog.wt
/dbdata/collection-0-3010090837577912269.wt
/dbdata/collection-2-3010090837577912269.wt
/dbdata/collection-4-3010090837577912269.wt
/dbdata/index-1-3010090837577912269.wt
/dbdata/index-3-3010090837577912269.wt
/dbdata/index-5-3010090837577912269.wt
/dbdata/index-6-3010090837577912269.wt
/dbdata/mongod.lock
/dbdata/sizeStorer.wt
/dbdata/storage.bson
/dbdata/WiredTiger
/dbdata/WiredTiger.lock
/dbdata/WiredTiger.turtle
/dbdata/WiredTiger.wt
/dbdata/WiredTigerLAS.wt
/.env
