footer.footer
    .footer__content._container
        .footer__contacts.footer-contacts
            h3.footer-contacts__title &Vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy; &icy; &pcy;&rcy;&iecy;&dcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy;
            a.footer-contacts__text.footer-contacts__text_email._icon-email(href='mailto:email@shelter.com') email@shelter.com
            a.footer-contacts__text.footer-contacts__text_tel._icon-phone(href='tel:+79533269886') +7 953 326 98 86
        .footer__contacts.footer-contacts
            h3.footer-contacts__title &Mcy;&ycy; &rcy;&acy;&scy;&pcy;&ocy;&lcy;&ocy;&zhcy;&iecy;&ncy;&ycy; &pcy;&ocy; &acy;&dcy;&rcy;&iecy;&scy;&ucy;
            .footer-contacts__text.footer-contacts__text_location._icon-spot &Pcy;&rcy;&icy;&yucy;&tcy; &ncy;&acy;&khcy;&ocy;&dcy;&icy;&tcy;&scy;&yacy; &vcy; &gcy;. &Kcy;&acy;&lcy;&ucy;&gcy;&acy;
            .footer__social
                a.footer__vk._icon-vk(href='https://vk.com/vdomkota' target='_blank')
                a.footer__instagram._icon-instagram(href='https://www.instagram.com/v_dom_kota/' target='_blank')
        .footer__image._ibg
            img(src='./img/footer/cat.webp' alt='Картинка футера')
    .footer__copy
        | &Rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&acy;&ncy;
        a(href='mailto:kivals.90@yandex.ru') kivals.90@yandex.ru
